backports.shutil-get-terminal-size (1.0.0)
decorator (4.0.9)
ipython (4.2.0)
ipython-genutils (0.1.0)
pickleshare (0.7.2)
pip (8.1.2)
pyreadline (2.1)
setuptools (22.0.5)
simplegeneric (0.8.1)
traitlets (4.2.1)
